pyTelegramBotAPI==4.1.1
hvac==0.11.2
git+https://github.com/obervinov/logger-package.git#egg=logger
git+https://github.com/obervinov/users-package.git#egg=users
git+https://github.com/obervinov/vault-package.git#egg=vault
git+https://github.com/obervinov/telegram-package.git#egg=telegram